<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-name" content="quixlab" />

    <title>Student Dashboard - Quiz App</title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <div th:fragment="navheader-student">
        <div class="nav-header">
            <div class="brand-logo">
                <a th:href="@{/student}">
                    <b class="logo-abbr"><img th:src="@{/images/logo.png}" alt=""></b>
                    <span class="logo-compact"><img th:src="@{/images/logo-compact.png}" alt=""></span>
                    <span class="brand-title">
                        <img th:src="@{/images/logo-text.png}" alt="">
                    </span>
                </a>
            </div>
        </div>
    </div>


</body>
</html>